<%= render 'layouts/navigation' %>
<h3>Ooops! Your account does not have permission to view this trip or itinerary. Please contact the owner of the trip or itinerary to grant you permission</h3>
<%= render 'layouts/footer' %>