<!DOCTYPE html>
<html>

<head>
<title>iTinerary</title>
<!--jQuery References--> 
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20152.78.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20152.78.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function () {
    $("#startdate").wijinputdate(
        {
            showTrigger: true
    });
    $("#enddate").wijinputdate(
        {
            showTrigger: true
    });
});
</script>

</head>

<body>
  <%= render 'layouts/navigation' %>
  <div>
    <% flash.each do |name, msg| %>
        <b><%= content_tag :div, msg, id: "flash_#{name}" %></b>
    <% end %>
  </div>

<body id="welcome-front-body">

  <div id="header-container" class ="container-fluid">
    <div class ="row">
      <h1>iTinerary</h1>
      <h2>Where would you like to go?</h2>
    </div>

    <br><br>

    <div class ="row">
      <div id="form-span" class="col-md-10 col-md-offset-1">
      <form class="form-inline" method='post' action='welcome/save'>
        <div class="form-group">
          <label for="destination">Destination</label>
          <input name="destination" class ="form-control" type="text"value="<%= params[:destination] %>" required>
        </div>

        <div class="form-group">
          <label for="startdate">Arrival Date</label>
          <input name="startdate" class ="form-control" type="text" id="startdate" />
        </div>
        <div class="form-group">
          <label for="enddate">Departure Date</label>
          <input name="enddate" class ="form-control" type="text" id="enddate" />
        </div>

        <input class ="btn btn-primary" type="submit" value="Submit"/>
      </form>
    </div>

    </div>
  </div>

</body>
</html>
