<!DOCTYPE html>
<html>

<head>
<title>iTinerary</title>
</head>

<body>
	<h1>iTinerary</h1>
	<form>
	  Destination:<br>
	  <input type="text" name="destination">
	  <br>
	  Start Date:<br>
	  <input type="text" name="startdate">
	  <br>
	  End Date:<br>
	  <input type="text" name="enddate">
	</form>
	<br>
	<form action="attractions"><input type="submit" value="Submit"/></form>
	<h1>Attractions</h1>
</body>

</html>